<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layout}" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="container">
<h3>고객목록</h3>
<div class='btnSet'>
	<a href='new.cu' class='btn-fill'>신규고객등록</a>
</div>
<table class='w-px600 tb-list'>
<thead>
	<tr><th class='w-px140'>고객명</th>
		<th>이메일</th>
		<th class='w-px160'>전화번호</th>
	</tr>
</thead>
<tbody>

	<tr><td><a href=''>${vo.name }</a></td>
		<td>${vo.email }</td>
		<td>${vo.phone }</td>
	</tr>
	
</tbody>
</table>
</body>
</html>